/*
 * Home page.
 */
.app-home {
  .home {
    &__header {
      padding: 50px 0 25px 0;

      text-align: center;
    }

    &__employees {
      display: inline-block;
      margin-top: 25px;

      transition: color ease-in-out 0.2s;

      &:hover {
        color: $blue;
      }
    }

    &__form {
      margin-top: 15px;
    }

    &__title {
      text-align: center;
    }
  }
}
